.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(146, 240, 146); */
    padding: 10px 20px;
    background-image: url("https://th.bing.com/th/id/OIP.KVfvGIhZZcrS0_LEg5jQ4gHaFY?rs=1&pid=ImgDetMain");
}

.header-item {
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    margin-left: 260px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #aaa;
}

.search-input {
    padding: 5px 30px 5px 30px;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 450px;
    border-radius: 15px;
}

.header-item span {
    margin-left: 10px;
}

.categories {
    display: flex;
    justify-content: space-between;



    background-image: url("https://th.bing.com/th/id/OIP.KVfvGIhZZcrS0_LEg5jQ4gHaFY?rs=1&pid=ImgDetMain");

}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://th.bing.com/th/id/OIP.KVfvGIhZZcrS0_LEg5jQ4gHaFY?rs=1&pid=ImgDetMain");
    margin-left: 100px;
    margin-right: 80px;
}

.category img {
    width: 50px;

    height: 50px;

    border-radius: 50%;

    object-fit: cover;

}

.category span {
    margin-top: 5px;
    font-weight: bold;
}
